PORT=8080

DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=kuoseweb
DB_PASSWORD=kuoseweb
DB_DATABASE=kuoseweb

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=900
# (900 giây = 15 phút)

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=604800
# (604800 giây = 7 ngày)





